html {
  box-sizing: border-box;
}
body {
  
  background: -webkit-linear-gradient(to right, #ffffff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #ffffff); 
  font-family: Arial, Helvetica, sans-serif;
}

span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: .5s;
}
.resultado-enter.resultado-enter-active{
  transform: translateY(0%);
}
.resultado-exit{
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}

.date{
  width: 185%;
display: block;
padding: 1rem;
-webkit-appearance: none;
color: #e28a37;
border: none;
-webkit-box-shadow: 10px 10px 92px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 92px -19px rgba(0,0,0,0.75);
box-shadow: 10px 10px 92px -19px rgba(0,0,0,0.75);
}
.btn {
  border-color:#e28a37;
  color:#e28a37;
  width: 70%;
  height:55px;
  border-radius: 30px;
}
.btn1{
  border-color:#e28a37;
  color:#e28a37;
  width: 20%;
  border-radius: 30px;
 
  
}
.botones{
  text-align:center;
}
.table {
  width: 70%;
  

}
.numero{
text-align: right;

}
.moneda{
  text-align: left;
  }
 
