html {
  box-sizing: border-box;
}
body {
  
  background: -webkit-linear-gradient(to right, #f8f1eb, f1f0f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7ebf8, #f1f0f0); 
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: .5s;
}
.resultado-enter.resultado-enter-active{
  transform: translateY(0%);
}
.resultado-exit{
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}
.resultado-exit-active{
  opacity: 0;
  transform: translateY(-10%);
}
.date{
  width: 267%;
display: block;
padding: 1rem;
-webkit-appearance: none;
border: none;
}
.btn {
  border-color:#e28a37;
  color:#e28a37;
  width: 100%;
  border-radius: 30px;
}
.btn1{
  border-color:#e28a37;
  color:#e28a37;
  width: 20%;
  border-radius: 30px;
  
}
.botones{
  text-align:center;
}
